extends layout

block content
  h1= title
  - var array=[{"type":"Vehicle","country":"United states","price":20000}]
   div(class="container-fluid")
    div(class="row")
     each item in array 
      div(class="col-sm-4") Type: #{item.type}
      div(class="col-sm-4") Country: #{item.country}
      div(class="col-sm-4") Price: #{item.price}
      